.icon-bar {
  position: fixed;
  top: 30%;
  right: 0px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 100;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 4px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  width: 50px;
}

.icon-bar a:hover {
  -moz-transform: translate(-5px, 0px);
  -ms-transform: translate(-5px, 0px);
  -o-transform: translate(-5px, 0px);
  -webkit-transform: translate(-5px, 0px);
  transform: translate(-5px, 0px);
}

.discord {
  background: #1e1f22;
}

a.facebook {
  background-color: #3b5998;
}

.instagramm {
  background: linear-gradient(to bottom, rgb(134, 63, 173), rgb(253, 177, 77));
  color: white;
}

.github {
  background-color: white;
}

.tiktok {
  background-color: black;
}

.socialmedia {
  max-width: 40px;
  margin: auto;
  padding: 2px;
}
